<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Guess the Square Color</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
<div class="wrapper">
    <div class="container">
        <h1>Guess the Square Color</h1>
        <div class="square-box-container">
            <div class="square-box">{{ square }}</div>
        </div>
        <p><b>What color is this square?</b></p>
        <form method="post" id="colorForm">
            <div class="color-box-container">
                <button type="submit" name="user_color" value="White" class="color-box white">White</button>
                <button type="submit" name="user_color" value="Black" class="color-box black">Black</button>
            </div>
        </form>
        {% if message %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}

    </div>
</div>
</body>
</html>