<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Chess Piece Moves</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LP35D8LBWQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LP35D8LBWQ');
    </script>

</head>

<body>
    <div class="wrapper">
    <div class="container">
        <h1>Chess Piece Moves</h1>
        <div class="game-selection">
            <a href="{{ url_for('knight_game') }}" class="game-button">Knight Game</a>
            <a href="{{ url_for('bishop_game') }}" class="game-button">Bishop Game</a>
            <a href="{{ url_for('color_game') }}" class="game-button">Color Game</a>
        </div>
    </div>
    </div>
</body>
</html>